[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU.git
	ignore = untracked
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/ZHYxulei/AnyKernel3.git
	ignore = untracked
[submodule "KPatch-Next"]
	path = KPatch-Next
	url = https://github.com/741afb7/KPatch-Next-EXP.git
	ignore = untracked
