[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU.git
	ignore = untracked
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/ZHYxulei/AnyKernel3.git
	ignore = untracked
